{
  "openapi": "3.0.1",
  "info": {
    "title": "INOP",
    "description": "INOP API provides a powerful suite of endpoints designed to streamline and enhance the candidate screening process using AI-driven insights.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://public.api.inop.ai/v1/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/titles": {
      "get": {
        "description": "Returns job title from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of job titles",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "messages": {
                      "type": "string",
                      "default": "List of job titles"
                    },
                    "data": {
                      "type": "array",
                      "default": [
                        {
                          "id": "1238b802-34b0-406e-bbc1-fd2bce07ce9a",
                          "name": "Networker"
                        },
                        {
                          "id": "298e27aa-3341-44b7-8fd4-a331d64f47e7",
                          "name": "Network Engineer/Network Administrator"
                        },
                        {
                          "id": "3c6d58e7-c4be-4f45-be3e-a949c37bc939",
                          "name": "Networking Technician"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "job titles response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "default": [
                        {
                          "id": "1238b802-34b0-406e-bbc1-fd2bce07ce9a",
                          "name": "Networker"
                        },
                        {
                          "id": "298e27aa-3341-44b7-8fd4-a331d64f47e7",
                          "name": "Network Engineer/Network Administrator"
                        },
                        {
                          "id": "3c6d58e7-c4be-4f45-be3e-a949c37bc939",
                          "name": "Networking Technician"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/titles/{id}": {
      "get": {
        "description": "Get a single job title based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of job title to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved job title",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "messages": {
                      "type": "string",
                      "default": "Details of a job title"
                    },
                    "date": {
                      "type": "object",
                      "default": {
                        "id": "d1ae83a0-0bd2-5354-8c0e-1eefbbe1131e",
                        "name": "Data Scientist",
                        "career_group": "AI & Data Management",
                        "mapping": {
                          "names": [],
                          "skills": []
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/titles/normalize": {
      "post": {
        "description": "Normalize a raw job title string to the best matching INOP title",
        "requestBody": {
          "description": "normalize unstructured job title",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "term": {
                    "type": "string",
                    "default": "Data scientist in Remote (EU)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Normalized job title",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "messages": {
                      "type": "string",
                      "default": "Normalized job title"
                    },
                    "data": {
                      "type": "object",
                      "default": {
                        "id": "d1ae83a0-0bd2-5354-8c0e-1eefbbe1131e",
                        "name": "Data Scientist",
                        "confidence": 1,
                        "job_levels": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/skills": {
      "get": {
        "description": "Returns job title from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of skills",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "messages": {
                      "type": "string",
                      "default": ""
                    },
                    "data": {
                      "type": "array",
                      "default": [
                        {
                          "id": "1238b802-34b0-406e-bbc1-fd2bce07ce9a",
                          "name": "Networker"
                        },
                        {
                          "id": "298e27aa-3341-44b7-8fd4-a331d64f47e7",
                          "name": "Network Engineer/Network Administrator"
                        },
                        {
                          "id": "3c6d58e7-c4be-4f45-be3e-a949c37bc939",
                          "name": "Networking Technician"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "job titles response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "default": [
                        {
                          "id": "1238b802-34b0-406e-bbc1-fd2bce07ce9a",
                          "name": "Networker"
                        },
                        {
                          "id": "298e27aa-3341-44b7-8fd4-a331d64f47e7",
                          "name": "Network Engineer/Network Administrator"
                        },
                        {
                          "id": "3c6d58e7-c4be-4f45-be3e-a949c37bc939",
                          "name": "Networking Technician"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/skills/{id}": {
      "get": {
        "description": "Get a single skill based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of skill to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved skill",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "messages": {
                      "type": "string",
                      "default": "Details of a skill"
                    },
                    "data": {
                      "type": "object",
                      "default": {
                        "id": "3a51eea5-feec-47e5-bdf2-b8bca3448f94",
                        "name": "C (Programming Language)",
                        "description": null,
                        "type": {
                          "name": "Specialized Skill"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/skills/related": {
      "post": {
        "description": "Returns a list of skills that are related to the requested skills",
        "requestBody": {
          "description": "Returns a list of skills that are related to the requested skills",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "ids": {
                    "type": "array",
                    "default": [
                      "12bc945b-bafb-4021-9289-928171296ea1",
                      "fccf214c-5215-4f30-ac72-73797d785981",
                      "8102bdec-d0da-4c25-bd77-69b5c6151b4f"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Retrieved related skills",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "messages": {
                      "type": "string",
                      "default": "List of related skills"
                    },
                    "data": {
                      "type": "array",
                      "default": [
                        {
                          "id": "12bc945b-bafb-4021-9289-928171296ea1",
                          "name": "Algorithms",
                          "type": {
                            "name": "Specialized Skill"
                          }
                        },
                        {
                          "id": "fccf214c-5215-4f30-ac72-73797d785981",
                          "name": "C# (Programming Language)",
                          "type": {
                            "name": "Specialized Skill"
                          }
                        },
                        {
                          "id": "3a51eea5-feec-47e5-bdf2-b8bca3448f94",
                          "name": "C++ (Programming Language)",
                          "type": {
                            "name": "Specialized Skill"
                          }
                        },
                        {
                          "id": "e7821270-163b-44ce-b98d-4e71d1e516ae",
                          "name": "Debugging",
                          "type": {
                            "name": "Specialized Skill"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ats/{jobId}/candidates": {
      "get": {
        "description": "Returns all candidates by job ID",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All candidates response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "messages": {
                      "type": "string",
                      "default": ""
                    },
                    "data": {
                      "type": "array",
                      "default": [
                        {
                          "id": "1238b802-34b0-406e-bbc1-fd2bce07ce9a",
                          "name": "Networker"
                        },
                        {
                          "id": "298e27aa-3341-44b7-8fd4-a331d64f47e7",
                          "name": "Network Engineer/Network Administrator"
                        },
                        {
                          "id": "3c6d58e7-c4be-4f45-be3e-a949c37bc939",
                          "name": "Networking Technician"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "job titles response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "default": [
                        {
                          "id": "1238b802-34b0-406e-bbc1-fd2bce07ce9a",
                          "name": "Networker"
                        },
                        {
                          "id": "298e27aa-3341-44b7-8fd4-a331d64f47e7",
                          "name": "Network Engineer/Network Administrator"
                        },
                        {
                          "id": "3c6d58e7-c4be-4f45-be3e-a949c37bc939",
                          "name": "Networking Technician"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ats/{jobId}/candidates/{hiringId}": {
      "get": {
        "description": "Get a single skill based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of skill to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved job title",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "messages": {
                      "type": "string",
                      "default": ""
                    },
                    "data": {
                      "type": "object",
                      "default": {
                        "id": "3a51eea5-feec-47e5-bdf2-b8bca3448f94",
                        "name": "C (Programming Language)",
                        "description": null,
                        "type": {
                          "name": "Specialized Skill"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JobTitleNormalize": {
        "required": [
          "term"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The term to normalize",
            "type": "string"
          }
        }
      },
      "JobTitle": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          }
        }
      },
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
